/*****************************
+ Components
*****************************/

.btn {
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    background-color: var(--secondaryColor);
    color: white;
    padding: 11px 15px;
    border-radius: 2px;
    letter-spacing: 1px;
    transition: 1s;
    margin-bottom: 5px;
  }

  .fa-download,
  .fa-suitcase {
    margin-left: 4px;
  }
  
  .btn:hover {
    background-color: rgba(44, 152, 240, 0.85);
    cursor: pointer;
  }
  
  .btn:visited,
  .btn:active {
    background-color: rgba(44, 152, 240, 0.85);
    cursor: pointer;
  }