/*
Structure:
+ Set up global variable

*/

/*****************************
+ Set up global variable
*****************************/
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap");
:root {
  --mainColor: #337ab7;
  --secondaryColor: #2c98f0;;
  --activeColor: #97d2ec;
  --secondaryBackgroundColor: #f2f3f7;
  --fontSize: 18px;
}

/*****************************
+ Global setting
*****************************/

* {
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  line-height: 1.5em;
}

html {
  font-size: var(--fontSize);
}

body {
  margin: 0;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: var(--mainColor);
  text-transform: uppercase;
}

.upper-text {
  text-transform: uppercase;
}