/*****************************
+ Content page
*****************************/

  main {
      margin-left: 300px;
      margin-right: 35px;
      margin-bottom: 80px;
  }
  
  main > section {
    margin: 30px 10px 30px 45px;
  }
  
  [data-header] {
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 19px;
    width: 300px;
  }
  
  [data-header]::before {
    margin-bottom: 10px;
    font-size: 10px;
    content: attr(data-header);
    display: block;
    font-weight: 200;
    margin-top: 115px;
  }

  [data-header]:first-child::before {
    margin-top: 0;
  }
  
  /* =======================
  Introduction
  ========================== */
  .intro-article {
    margin-bottom: 27px; 
  }

  /* =======================
  expertist
  ========================== */

  .expert-parent {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    align-items: flex-start;
    margin-bottom: 45px;
  }
  
  .expert-article {
    width: 30%;
    box-shadow: 5px 5px 1000px rgb(211, 207, 207);
    /* transition: 2s; */
    position: relative; 
    margin-top: 55px;
    margin-bottom: 75px;
  }

  .expert-article-title {
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .expert-article-content {
    text-align: center;
    margin: 25px 25px 55px 25px;
  }

  .one {
    border-bottom: 2px solid #ffc000;
  }

  .two {
    border-bottom: 2px solid #6c6;
  }

  .fa-layer-group,
  .fa-database {
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 18px;

    width: 104px;
    height: 60px;
    border-radius: 1.5px;
    background-color: #6c6;

    position: absolute;
    top: -30px;
    left: calc(50% - 54px);
  }

  .before-icon,
  .after-icon {
    width: 0;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    left: calc(50% - 54px);
  }

  .before-icon {  
    border-bottom: 30px solid #6c6;   
    top: -59px;
  }

  .after-icon {
    border-top: 30px solid #6c6;
    top: 29.5px;
  }

  .fa-layer-group {
    background-color: #ffc000;
  }

  .layer-group {
    border-bottom-color: #ffc000;
    border-top-color: #ffc000;
  }

  /* =======================
  experience 
  ========================== */

  #experience {
    margin-bottom: 35px;
  }

  .experience-parent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;
  }

  .experience-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .experience-container-icon {
    position: relative;
  }

  .fa-pencil {
    width: 50px;
    background-color: #6c6;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
    border: 6px solid var(--secondaryBackgroundColor);
  }

  .straight-line-down {
    width: 4px;
    height: calc(100% - 36px);
    background-color: var(--secondaryBackgroundColor);
    position: absolute;
    left: calc(100% - 27px);
    z-index: 100;
  }

  .small-triangle {
    width: 0;
    border-right: 10px solid var(--secondaryBackgroundColor);
    border-top: 10px solid transparent ;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 12px;
    right: calc(100% - 70px);
  }

  .experience-container-content {
    width: calc(100% - 70px);
    background-color: var(--secondaryBackgroundColor);
    padding: 0 25px 35px 30px;
  }

  .project-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 27px;
  }

  .circle {
    width: 100%;
    height: 50px;
    background-color: transparent;
    position: relative; 
  }

  .dot {
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-top: 10px;
    border-radius: 25px;
    border: 6px solid var(--secondaryBackgroundColor);

    position: absolute;
    top: 0;
    left: 11.5px;
  }

  .yellow {
    background-color: #ffc000;
  }

  .green {
    background-color: #6c6;
  }

  .purple {
    background-color: #8601af;
  }

  /* =======================
  education
  ========================== */

  #education {
    margin-bottom: 55px;
  }

  .educational-background {
    padding-left: 12px;
  }

  .study-year {
    color: var(--mainColor);
    margin-bottom: 0;
  }

  .school {
    margin-top: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 24px;
  }

  /* =======================
  skills
  ========================== */

  #skill {
    margin-bottom: 40px;
  }

  .knowledge {
    width: 100%;
    height: 6px;
    background-color: var(--secondaryBackgroundColor);
    border-radius: 3px;
    margin-top: 7px;
  }

  .skill-progress-bar label {
    font-size: 16px;
  }

  .progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #6c6;
    z-index: 100;
  }

  .c,
  .html,
  .creativity {
    position: relative;
  }

  .c {
    width: 70%;
    background-color: var(--secondaryColor);
  }

  .html {
    width: 50%;
    background-color: #ec5453;
  }

  .creativity {
    width: 80%;
    background-color: #f9bf3f;
  }

  .c::before,
  .html::before,
  .creativity::before {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: -30px;
    right: 0;
  }

  .c::before {
    content: '70%';
    color: var(--secondaryColor);
  }

  .html::before {
    content: '50%';
    color: #ec5453;
  }

  .creativity::before {
    content: '80%';
    color: #f9bf3f;
  }

  .c::after,
  .html::after,
  .creativity::after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 6px;
    position: absolute;
    top: -3px;
    right: 0;
  }

  .c::after {
    background-color: var(--secondaryColor);
  }

  .html::after {
    background-color: #ec5453;
  }

  .creativity::after {
    background-color: #f9bf3f;
  }

  .skill-progress-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
    margin-bottom: 60px;
  }

  #skill h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin-left: -30px;
    margin-bottom: 30px;
  }

  #skill ul {
    margin-left: -33px;
  }

  /* =======================
 interest
  ========================== */