@media (max-width: 750px) {
}

@media (min-width: 751px) and (max-width: 950px) {
}

@media (max-width: 951px) {
    .expert-parent {
        flex-direction: column;
    }

    .expert-article {
        width: 100%;
        margin-bottom: 10px;
    }

    .skill-progress-bar {
        grid-template-columns: 1fr;
    }
}


/* .navigation {
    background-color: red;
    width: 50px;
    height: 50px;
    cursor: pointer;
} */