/*****************************
+ Side Bar
*****************************/

aside {
    position: fixed;
    top: 0;
    background-color: var(--secondaryBackgroundColor);
    width: 300px;
    height: 100vh;
    text-align: center;
    /* add scroll bar to the aside */
    overflow-y: scroll; 
  }
  
  aside > img {
    width: 140px;
    height: 148px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 19px;
  }
  
  aside h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .fa-envelope {
    font-size: 13px;
  }
  
  aside p {
    font-size: 11px;
    margin-top: -10px;
    margin-bottom: 5px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .nav-title { 
    color: black;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--secondaryBackgroundColor);
  }
  
  .nav-title:hover {
    border-bottom: 1px solid var(--secondaryColor);
    transition: border-bottom-width 0.6s linear;
  }
  
  .nav-title:active {
    color: var(--secondaryColor);
    border-bottom: 1px solid var(--secondaryColor);
  }
  
  .social-icons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .fab {
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 2.5px;
    border-bottom: 1.5px solid var(--secondaryBackgroundColor);
  }
  
  .fab:hover {
    border-bottom: 1.5px solid var(--secondaryColor);
  }
  
  .fab:last-child {
    margin-bottom: 70px;
  }